{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class='form-group'>Eth avaiable to deployer: {{ user_avaiable_eth }} </div>
                <div class='form-group'>Contracts Deployable at current gas price: {{ deployments_avaiables }} </div>
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#addFoundsModal">Add ETH to the Deployer</button>
                <div class="form-group"></div>
                <div class="form-group">
                    {{ form.add_founds.label(class="form-control-label") }}
                    {% if form.add_founds.errors %}
                        {{ form.add_founds(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.add_founds.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.add_founds(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    
    <div class="modal fade" id="addFoundsModal" tabindex="-1" role="dialog" aria-labelledby="addFoundsModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addFoundsModalLabel">How to Add more Founds</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    current price for deployment token: 0.00508ETH<br>
                    Send eth to the add_funds function of the contract at address:<br>
                    If this is the first time that you are doing this,<br>
                    You can check out the written documentation and a video<br>
                    on how to do it at this link: link to resource
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
