{% extends "layout.html" %}
{% block content %}
<article class="media content-section" style="background-image: url('../static/images/background1.jpg');">
    <div class="media-body">
        <div class="row justify-content-md-center">
            {% if currency == "0x0000000000000000000000000000000000000000" %}
            <div class="col col-lg">
                <img src="../static/images/ehtereum-color.png" style="width: 90%">
            </div>
            {% else %}
            <div class="col col-lg">
                <img class="float-left" src="../static/images/theter.png"  width="70" height="70">
            </div>
            {% endif %}
            <div class="col col-auto">
                Title
                <p>
                    {{ title }}
                </p>
                <!-- <p>{{ contract_start }}</p>
                Contract will end
                <p>{{ contract_end }}</p>
                Time of delivery
                <p>{{ time_item_delivered }}</p>
                
                <p>{{ has_buyer_paid }}</p>
                <p>{{ paid_ammount }}</p>
                <p>{{ refounded }}</p>
                <p>{{ ranking }}</p> -->
                <p></p>
                Address<br>
                {{ contract_address }}
            </div>
            <div class="col col-lg">
            </div>
        </div>
        <p></p>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
                Started
            </div>
            <div class="col col-auto">
               
            </div>
            <div class="col col-lg">
                Ending
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
               {{ contract_start }}
            </div>
            <div class="col col-auto">
            
            </div>
            <div class="col col-lg">
                {{ contract_end }}
            </div>
        </div>
        <p></p>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
                Item Price
            </div>
            <div class="col col-auto">
               
            </div>
            <div class="col col-lg">
                Shipping Price
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
               {{ item_price }}
            </div>
            <div class="col col-auto">
            
            </div>
            <div class="col col-lg">
                {{ shipping_price }}
            </div>
        </div>
        <p></p>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
                Status
            </div>
            <div class="col col-auto">
                
            </div>
            <div class="col col-lg">
                Last Update
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
                {% if status == 1%}
                    Waiting for Payment
                {% elif status == 2 and tracked != 1%}
                    Item Paid and Waiting for Shipping
                {% elif status == 2 and tracked == 1%}
                    Item Paid and Shipped
                {% elif status == 3%}
                    Item Delivered
                {% elif status == 4%}
                    Item Refounded
                {% endif %}
            </div>
            <div class="col col-auto">
                
            </div>
            <div class="col col-lg">
                {{ latest_update }}
            </div>
        </div>
        <p></p>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
                {% if status == 1%}
                    <button class="btn btn-info">Payment Instructions</button>
                {% endif %}
            </div>
            <div class="col col-auto"></div>
            <div class="col col-lg"></div>
        </div>
        <!-- Here i start to put info based on the status -->
    </div>
</article>
{% endblock content %}