{% extends "layout.html" %}
{% block content %}
<article class="media content-section" style="background-image: url('../static/images/background1.jpg');">
    <div class="media-body">
        <div class="row justify-content-md-center">
            {% if currency == "0x0000000000000000000000000000000000000000" %}
            <div class="col col-lg">
                <img src="../static/images/ehtereum-color.png" style="width: 90%">
            </div>
            {% else %}
            <div class="col col-lg">
                <img class="float-left" src="../static/images/theter_bkg.png"  width="170" height="100">
            </div>
            {% endif %}
            <div class="col col-auto">
                Title
                <p>
                    {{ title }}
                </p>
               
                <!-- here the hidden abi, i pass it here from the backend -->
                
                <p></p>
                Address<br>
                {{ contract_address }}
            </div>
            <div class="col col-lg">
                <button class="btn btn-primary" onclick="copyABI()">Copy Contract ABI</button>
            </div>
        </div>
        <p></p>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
                Started
            </div>
            <div class="col col-auto">
               
            </div>
            <div class="col col-lg">
                Ending
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
               {{ contract_start }}
            </div>
            <div class="col col-auto">
            
            </div>
            <div class="col col-lg">
                {{ contract_end }}
            </div>
        </div>
        <p></p>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
                Item Price
            </div>
            <div class="col col-auto">
               
            </div>
            <div class="col col-lg">
                Shipping Price
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
               {{ item_price }}
            </div>
            <div class="col col-auto">
            
            </div>
            <div class="col col-lg">
                {{ shipping_price }}
            </div>
        </div>
        <p></p>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
                Status
            </div>
            <div class="col col-auto">
                
            </div>
            <div class="col col-lg">
                Last Update
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
                {% if status == 1%}
                    Waiting for Payment
                {% elif status == 2 and tracked != 1%}
                    Item Paid and Waiting for Shipping
                {% elif status == 2 and tracked == 1%}
                    Item Paid and Shipped
                {% elif status == 3%}
                    Item Delivered
                {% elif status == 4%}
                    Item Refounded
                {% endif %}
            </div>
            <div class="col col-auto">
                
            </div>
            <div class="col col-lg">
                {{ latest_update }}
            </div>
        </div>
        <p></p>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
                {% if status == 1%}
                    <button class="btn btn-info">Payment Instructions</button>
                {% endif %}
            </div>
            <div class="col col-auto"></div>
            <div class="col col-lg"></div>
        </div>
        <!-- Here i start to put info based on the status -->
    </div>
</article>

{% if currency == "0x0000000000000000000000000000000000000000" %}
    <textarea style="opacity: 0" readonly id="abi">{{ paywac_abi }}</textarea>
{% else %}
    <textarea style="opacity: 0" readonly id="abi">{{ paywac_erc20_abi }}</textarea>
{% endif %}
<script>
    function copyABI(){
        /* Get the text field */
        var copyText = document.getElementById("abi");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("Copied the text: " + copyText.value);
    }
</script>

{% endblock content %}