{% extends "layout.html" %}
{% block content %}
<article class="media content-section" style="background-image: url('../static/images/background1.jpg');">
    <div class="media-body">
        <div class="row justify-content-md-center">
            <div class="col col-lg">
                <img src="../static/images/ehtereum-color.png" style="width: 90%">
            </div>
            <div class="col col-auto">
                Title
                <p>
                    {{ title }}
                </p>
                <!-- <p>{{ contract_start }}</p>
                Contract will end
                <p>{{ contract_end }}</p>
                Time of delivery
                <p>{{ time_item_delivered }}</p>
                
                <p>{{ has_buyer_paid }}</p>
                <p>{{ paid_ammount }}</p>
                <p>{{ refounded }}</p>
                <p>{{ ranking }}</p> -->
                <p></p>
                Address<br>
                {{ contract_address }}
            </div>
            <div class="col col-lg">
            </div>
        </div>
        <p></p>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
                Started
            </div>
            <div class="col col-auto">
               
            </div>
            <div class="col col-lg">
                Ending
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
               {{ contract_start }}
            </div>
            <div class="col col-auto">
            
            </div>
            <div class="col col-lg">
                {{ contract_end }}
            </div>
        </div>
        <p></p>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
                Status
            </div>
            <div class="col col-auto">
                
            </div>
            <div class="col col-lg">
                Last Update
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg">
                {{ status }}
            </div>
            <div class="col col-auto">
                
            </div>
            <div class="col col-lg">
                {{ latest_update }}
            </div>
        </div>
        <!-- Here i start to put info based on the status -->
    </div>
</article>
{% endblock content %}