{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Review contract data</legend>
            <div class="form-inline">
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Check Shipping Info
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% if insertion_link != ''%}
                            <a class="dropdown-item" href="https://{{insertion_link}}">Insertion Link: {{ insertion_link }}</a>
                        {% endif %}
                        <a class="dropdown-item">Street: {{ street }}</a>
                        <a class="dropdown-item">City: {{ city }}</a>
                        <a class="dropdown-item">Country: {{ country }}</a>
                        <a class="dropdown-item">State: {{ state }}</a>
                        <a class="dropdown-item">Postal Code: {{ postal_code }}</a>
                    </div>
                </div>
                <!-- add span with blank space --> ==
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Check Contract Info
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% if insertion_link != ''%}
                            <a class="dropdown-item" href="{{insertion_link}}">Insertion Title: {{ insertion_link }}</a>
                        {% endif %}
                        <a class="dropdown-item">Insertion Title: {{ insertion_title }}</a>
                        <a class="dropdown-item">Seller Address: {{ seller_address }}</a>
                        <a class="dropdown-item">Contract Time(time that you have to make the payment): {{ contract_time }}</a>
                        <a class="dropdown-item">Shipping Time(start after you make the payment): {{ shipping_eta }}</a>
                        <a class="dropdown-item">Item Price: {{ item_price }}</a>
                        <a class="dropdown-item">Shipping Price: {{ shipping_price }}</a>
                        <a class="dropdown-item">Total Price To Pay: {{ shipping_price + item_price}}</a>
                    </div>
                </div>
            </div>
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.seller_address.label(class="form-control-label") }}
                {% if form.seller_address.errors %}
                    {{ form.seller_address(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.seller_address.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.seller_address(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.confirm.label(class="form-control-label") }}
                {% if form.confirm.errors %}
                    {{ form.confirm(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-inline">
            {{ form.submit(class="btn btn-outline-info") }}
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Reject this contract</button>
        </div>

    </form>
     <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Do you want to reject this contract?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('contracts.delete_contract', uid=uuid) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
            </form>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock content %}
