{% extends "layout.html" %}
{% block content %}


<button class="btn btn-info" type="button" onclick="showActive()">
        Active</button>
<button class="btn btn-info" type="button" onclick="showFulfilled()">
        Fulfilled</button>
<p></p>
{% for button in buttons%}
{% if button.clicked == 0 %}
<div class="active_button">
    <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">

            </div>
            <h2><a class="article-title" href="#">{{ button.title }}</a></h2>
            <p class="article-content">{{ button.clicked }}</p>
            
            <div>
                <textarea style="opacity: 0" readonly id="generated_code_{{button.title}}">{{ button.button_code }}</textarea>
            </div>
            <button onclick='myFunction("{{button.title}}")'>Copy text</button>
            </div>

    </article>
</div>
{% elif button.clicked == 1 %}
<div class="fulfilled_button">
        <article class="media content-section">
                <div class="media-body">
                <div class="article-metadata">
    
                </div>
                <h2><a class="article-title" href="#">{{ button.title }}</a></h2>
                <p class="article-content">{{ button.clicked }}</p>
                
                <div>
                    <textarea style="opacity: 0" readonly id="generated_code_{{button.title}}">{{ button.button_code }}</textarea>
                </div>
                <button onclick='myFunction("{{button.title}}")'>Copy text</button>
                </div>
    
        </article>
</div>
{% endif %}
{% endfor %}

<script>
    function myFunction(title) {
        /* Get the text field */
        var copyText = document.getElementById("generated_code_"+title);

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("Copied the text: " + copyText.value);
    }

    function showActive(){
        console.log('click')
        var divsToHide = document.getElementsByClassName("fulfilled_button");
        var divsToShow = document.getElementsByClassName("active_button");
        for(var i = 0; i < divsToHide.length; i++)
        {
            divsToHide[i].style.display="none";
        }
        for(var i = 0; i < divsToShow.length; i++)
        {
            divsToShow[i].style.display="block";
        }
    }

    function showFulfilled(){
        var divsToShow = document.getElementsByClassName("fulfilled_button");
        var divsToHide = document.getElementsByClassName("active_button");
        for(var i = 0; i < divsToHide.length; i++)
        {
            divsToHide[i].style.display="none";
        }
        for(var i = 0; i < divsToShow.length; i++)
        {
            divsToShow[i].style.display="block";
        }
    }
</script>
{% endblock content%}