{% extends "layout.html" %}
{% block content %}

<div class="row justify-content-md-center">
<button class="btn btn-secondary" type="button" onclick="showActive()">
        Active</button>
        <pre class="tab"> </pre>
        <p></p>
<button class="btn btn-secondary" type="button" onclick="showFulfilled()">
        Fulfilled</button>
</div>
<p></p>
{% for button in buttons%}
{% if button.clicked == 0 %}
<div class="active_button">
    <article class="media content-section">
            <div class="media-body">
            <h2><span class="article-title">{{ button.title }}</span></h2>
            <div>
                <textarea style="opacity: 0" readonly id="generated_code_{{button.title}}">{{ button.button_code }}</textarea>
                <textarea style="opacity: 0" readonly id="generated_code_{{button.link}}">{{ button.link }}</textarea>
            </div>
            <div class="row">
                <div class="col col-md-3"></div>
                <div class="col col-md-3"></div>
                <div class="col col-md-auto">
                    <button class="btn btn-primary" onclick='myFunction("{{button.title}}")'>Copy button code</button>
                    <button class="btn btn-primary" onclick='myFunction("{{button.link}}")'>Copy link</button>
                </div>
            </div>
            </div>

    </article>
</div>
{% elif button.clicked == 1 %}
<div class="fulfilled_button">
        <article class="media content-section">
                <div class="media-body">
                <h2><span class="article-title">{{ button.title }}</span></h2>
                <div>
                    <textarea style="opacity: 0" readonly id="generated_code_{{button.title}}">{{ button.button_code }}</textarea>
                    <textarea style="opacity: 0" readonly id="generated_code_{{button.link}}">{{ button.link }}</textarea>
                </div>
                <div class="row">
                    <div class="col col-md-3"></div>
                    <div class="col col-md-3"></div>
                    <div class="col col-md-auto">
                        <button class="btn btn-primary" onclick='myFunction("{{button.title}}")'>Copy button code</button>
                        <button class="btn btn-primary" onclick='myFunction("{{button.link}}")'>Copy link</button>
                    </div>
                </div>
                </div>
    
        </article>
</div>
{% endif %}
{% endfor %}

<script>
    function myFunction(title) {
        /* Get the text field */
        var copyText = document.getElementById("generated_code_"+title);

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("Copied the text: " + copyText.value);
    }

    function showActive(){
        console.log('click')
        var divsToHide = document.getElementsByClassName("fulfilled_button");
        var divsToShow = document.getElementsByClassName("active_button");
        for(var i = 0; i < divsToHide.length; i++)
        {
            divsToHide[i].style.display="none";
        }
        for(var i = 0; i < divsToShow.length; i++)
        {
            divsToShow[i].style.display="block";
        }
    }

    function showFulfilled(){
        var divsToShow = document.getElementsByClassName("fulfilled_button");
        var divsToHide = document.getElementsByClassName("active_button");
        for(var i = 0; i < divsToHide.length; i++)
        {
            divsToHide[i].style.display="none";
        }
        for(var i = 0; i < divsToShow.length; i++)
        {
            divsToShow[i].style.display="block";
        }
    }
</script>
{% endblock content%}