{% extends "layout.html" %}
{% block content %}

<button class="btn btn-secondary" type="button" onclick="showToDeploy()">
    To Deploy</button>
  <button class="btn btn-secondary" type="button" onclick="showWaitingPayment()">
      Waiting for Payment</button>
<button class="btn btn-secondary" type="button" onclick="showToShip()">
    To Ship</button>
<button class="btn btn-secondary" type="button" onclick="showShipped()">
    Shipped</button>
<button class="btn btn-secondary" type="button" onclick="showDelivered()">
    Delivered</button>
<button class="btn btn-secondary" type="button" onclick="showRefounded()">
    Refounded</button>
<p></p>
{% for contract in _contracts%}

<!-- to deploy -->
{% if contract.status == 0%}
<div class="to_deploy">
  <article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title" href="{{url_for("contracts.contract", address=contract.contract_address)}}", address=contract.contract_address)}}">{{ contract.title }}</a></h2>
      <p class="article-content">Contract to be Deployed</p> 
      <div class="text-right">
        <a href='/intent/deploy_contract/{{contract.uuid}}' class="btn btn-primary">Review and Deploy the contract</a>  
      </div>
    </div>
  </article>
</div>

<!-- deployed waiting for paiment -->
{% elif contract.status == 1%}
<div class="waiting_payment">
  <article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title" href="{{url_for("contracts.contract", address=contract.contract_address)}}")}}">{{ contract.title }}</a></h2>
      <p class="article-content">Contract is waiting for payment</p> 
    </div>
    {% if (contract.deployed_date + contract.contract_time | from_seconds_to_time) < datetime_now %}
      <p>Expired</p>
    {% endif %}
  </article>
</div>
<!-- payed to ship -->
<!--  -->
{% elif contract.status == 2 and contract.tracked != 1%}
<div class="paied_to_ship">
  <article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title" href="{{url_for("contracts.contract", address=contract.contract_address)}}")}}">{{ contract.title }}</a></h2>
      <p class="article-content">Contract paied, please ship the item and add the tracking number</p>

      <h5>Add a tracking number to this contract</h5>
        <form method="POST" action="">
            <fieldset class="form-group">
                {{ form.csrf_token }}
                {{ form.uuid(type="hidden", value=contract.uuid) }}
                <div class="form-inline">
                    {% if form.tracking_number.errors %}
                        {{ form.tracking_number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.tracking_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.tracking_number(class="form-control form-control-lg") }}
                    {% endif %}
                    {% if form.shipper.errors %}
                        {{ form.shipper(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.shipper.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.shipper(class="form-control form-control-lg") }}
                    {% endif %}
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </fieldset>
        </form>

    </div>
  </article>
</div>
<!-- shipped -->
<!-- this will be shown after a tracking number has been added to the contract -->
{% elif contract.status == 2 and contract.tracked == 1 %}
<div class="shipped">
  <article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title" href="{{url_for("contracts.contract", address=contract.contract_address)}}")}}">{{ contract.title }}</a></h2>
      <p class="article-content">The item is shipped with tracking number: </p> 

    </div>
  </article>
</div>
<!-- delivered -->
{% elif contract.status == 3%}
<div class="delivered">
  <article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title" href="{{url_for("contracts.contract", address=contract.contract_address)}}")}}">{{ contract.title }}</a></h2>
      <p class="article-content">The item has been succesfully delivered</p> 

    </div>
  </article>
</div>
<!-- refounded -->
{% elif contract.status == 4%}
<div class="refounded">
  <article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title" href="{{url_for("contracts.contract", address=contract.contract_address)}}")}}">{{ contract.title }}</a></h2>
      <p class="article-content">The item was not delivered to the buyer or the item recieved was not accepted by the buyer</p> 

    </div>
  </article>
</div>
{% endif %}
{% endfor %}

<script>

function showToDeploy(){
  var to_deploy = document.getElementsByClassName('to_deploy');
  var waiting_payment = document.getElementsByClassName('waiting_payment');
  var paied_to_ship = document.getElementsByClassName('paied_to_ship');
  var shipped = document.getElementsByClassName('shipped');
  var delivered = document.getElementsByClassName('delivered');
  var refounded = document.getElementsByClassName('refounded');

  for(var i = 0; i < to_deploy.length; i++)
  {
    to_deploy[i].style.display="block";
  }
  for(var i = 0; i < waiting_payment.length; i++)
  {
    waiting_payment[i].style.display="none";
  }
  for(var i = 0; i < paied_to_ship.length; i++)
  {
    paied_to_ship[i].style.display="none";
  }
  for(var i = 0; i < shipped.length; i++)
  {
    shipped[i].style.display="none";
  }
  for(var i = 0; i < delivered.length; i++)
  {
    delivered[i].style.display="none";
  }
  for(var i = 0; i < refounded.length; i++)
  {
    refounded[i].style.display="none";
  }

}
function showWaitingPayment(){

  var to_deploy = document.getElementsByClassName('to_deploy');
  var waiting_payment = document.getElementsByClassName('waiting_payment');
  var paied_to_ship = document.getElementsByClassName('paied_to_ship');
  var shipped = document.getElementsByClassName('shipped');
  var delivered = document.getElementsByClassName('delivered');
  var refounded = document.getElementsByClassName('refounded');

  for(var i = 0; i < to_deploy.length; i++)
  {
    to_deploy[i].style.display="none";
  }
  for(var i = 0; i < waiting_payment.length; i++)
  {
    waiting_payment[i].style.display="block";
  }
  for(var i = 0; i < paied_to_ship.length; i++)
  {
    paied_to_ship[i].style.display="none";
  }
  for(var i = 0; i < shipped.length; i++)
  {
    shipped[i].style.display="none";
  }
  for(var i = 0; i < delivered.length; i++)
  {
    delivered[i].style.display="none";
  }
  for(var i = 0; i < refounded.length; i++)
  {
    refounded[i].style.display="none";
  }


}
function showToShip(){

  var to_deploy = document.getElementsByClassName('to_deploy');
  var waiting_payment = document.getElementsByClassName('waiting_payment');
  var paied_to_ship = document.getElementsByClassName('paied_to_ship');
  var shipped = document.getElementsByClassName('shipped');
  var delivered = document.getElementsByClassName('delivered');
  var refounded = document.getElementsByClassName('refounded');

  for(var i = 0; i < to_deploy.length; i++)
  {
    to_deploy[i].style.display="none";
  }
  for(var i = 0; i < waiting_payment.length; i++)
  {
    waiting_payment[i].style.display="none";
  }
  for(var i = 0; i < paied_to_ship.length; i++)
  {
    paied_to_ship[i].style.display="block";
  }
  for(var i = 0; i < shipped.length; i++)
  {
    shipped[i].style.display="none";
  }
  for(var i = 0; i < delivered.length; i++)
  {
    delivered[i].style.display="none";
  }
  for(var i = 0; i < refounded.length; i++)
  {
    refounded[i].style.display="none";
  }
}
function showShipped(){

var to_deploy = document.getElementsByClassName('to_deploy');
var waiting_payment = document.getElementsByClassName('waiting_payment');
var paied_to_ship = document.getElementsByClassName('paied_to_ship');
var shipped = document.getElementsByClassName('shipped');
var delivered = document.getElementsByClassName('delivered');
var refounded = document.getElementsByClassName('refounded');

for(var i = 0; i < to_deploy.length; i++)
{
  to_deploy[i].style.display="none";
}
for(var i = 0; i < waiting_payment.length; i++)
{
  waiting_payment[i].style.display="none";
}
for(var i = 0; i < paied_to_ship.length; i++)
{
  paied_to_ship[i].style.display="none";
}
for(var i = 0; i < shipped.length; i++)
{
  shipped[i].style.display="block";
}
for(var i = 0; i < delivered.length; i++)
{
  delivered[i].style.display="none";
}
for(var i = 0; i < refounded.length; i++)
{
  refounded[i].style.display="none";
}
}
function showDelivered(){

  var to_deploy = document.getElementsByClassName('to_deploy');
  var waiting_payment = document.getElementsByClassName('waiting_payment');
  var paied_to_ship = document.getElementsByClassName('paied_to_ship');
  var shipped = document.getElementsByClassName('shipped');
  var delivered = document.getElementsByClassName('delivered');
  var refounded = document.getElementsByClassName('refounded');

  for(var i = 0; i < to_deploy.length; i++)
  {
    to_deploy[i].style.display="none";
  }
  for(var i = 0; i < waiting_payment.length; i++)
  {
    waiting_payment[i].style.display="none";
  }
  for(var i = 0; i < paied_to_ship.length; i++)
  {
    paied_to_ship[i].style.display="none";
  }
  for(var i = 0; i < shipped.length; i++)
  {
    shipped[i].style.display="none";
  }
  for(var i = 0; i < delivered.length; i++)
  {
    delivered[i].style.display="block";
  }
  for(var i = 0; i < refounded.length; i++)
  {
    refounded[i].style.display="none";
  }
}
function showRefounded(){

  var to_deploy = document.getElementsByClassName('to_deploy');
  var waiting_payment = document.getElementsByClassName('waiting_payment');
  var paied_to_ship = document.getElementsByClassName('paied_to_ship');
  var shipped = document.getElementsByClassName('shipped');
  var delivered = document.getElementsByClassName('delivered');
  var refounded = document.getElementsByClassName('refounded');

  for(var i = 0; i < to_deploy.length; i++)
  {
    to_deploy[i].style.display="none";
  }
  for(var i = 0; i < waiting_payment.length; i++)
  {
    waiting_payment[i].style.display="none";
  }
  for(var i = 0; i < paied_to_ship.length; i++)
  {
    paied_to_ship[i].style.display="none";
  }
  for(var i = 0; i < shipped.length; i++)
  {
    shipped[i].style.display="none";
  }
  for(var i = 0; i < delivered.length; i++)
  {
    delivered[i].style.display="none";
  }
  for(var i = 0; i < refounded.length; i++)
  {
    refounded[i].style.display="block";
  }
}


</script>

{% endblock content%}